In [2]:
import pandas as pd

from config import getConfig

In [3]:
cfg = getConfig()

In [4]:
df = pd.read_csv(cfg['dataLoc']+'fundData.csv')
shares = pd.read_csv(cfg['dataLoc']+'numShares.csv')

In [5]:
df = df.set_index('fund')
shares = shares.set_index('fund')

df = df.join(shares)

In [6]:
df['monthlyDiv'] = round(df['dividend']*df['shares'], 2)

In [7]:
df=df.reset_index()

In [8]:
runningTotal = df.groupby('fund')['monthlyDiv'].cumsum()
runningTotal.name = 'runningDiv'

final = df.join(runningTotal)

final['fundVal'] = round(final['price']*final['shares']+final['runningDiv'])

In [9]:
#final[(final['fund']=='RYLD')&(final['date']>'2021-08-20')][20:50]

In [10]:
final.sample(10)

,fund,date,price,dividend,shares,monthlyDiv,runningDiv,fundVal
8812,RYLD,2022-06-03,21.3700,0.0,40.01,0.0,89.06,944.0
8069,RYLD,2019-06-21,25.5150,0.0,40.01,0.0,0.00,1021.0
5188,COMB,2020-02-05,22.4400,0.0,40.03,0.0,0.00,898.0
8307,RYLD,2020-06-03,19.5450,0.0,40.01,0.0,0.00,782.0
7332,QYLD,2019-11-08,23.2500,0.0,39.94,0.0,0.00,929.0
8767,RYLD,2022-03-30,23.8800,0.0,40.01,0.0,89.06,1044.0
3984,CCJ,2020-07-14,10.8800,0.0,46.95,0.0,0.00,511.0
219,ARKK,2015-09-16,20.5700,0.0,49.07,0.0,0.00,1009.0
1356,ARKK,2020-03-24,42.1500,0.0,49.07,0.0,0.00,2068.0
5337,COMB,2020-09-08,21.3704,0.0,40.03,0.0,0.00,855.0

In [11]:
final.to_csv(cfg['dataLoc']+'fundValues.csv', index=False)