In [1]:
import pandas as pd

In [2]:
%store -r

In [13]:
df = pd.read_csv('/home/tbrownex/data/investing/spx.csv')

In [15]:
df

          date       close
0   2018-03-01  263.149994
1   2018-04-01  264.510010
2   2018-05-01  270.940002
3   2018-06-01  271.279999
4   2018-07-01  281.329987
5   2018-08-01  290.309998
6   2018-09-01  290.720001
7   2018-10-01  270.630005
8   2018-11-01  275.649994
9   2018-12-01  249.919998
10  2019-01-01  269.929993
11  2019-02-01  278.679993
12  2019-03-01  282.480011
13  2019-04-01  294.019989
14  2019-05-01  275.269989
15  2019-06-01  293.000000
16  2019-07-01  297.429993
17  2019-08-01  292.450012
18  2019-09-01  296.769989
19  2019-10-01  303.329987
20  2019-11-01  314.309998
21  2019-12-01  321.859985
22  2020-01-01  321.730011
23  2020-02-01  296.260010
24  2020-03-01  257.750000
25  2020-04-01  290.480011
26  2020-05-01  304.320007
27  2020-06-01  308.359985
28  2020-07-01  326.519989
29  2020-08-01  349.309998
30  2020-09-01  334.890015
31  2020-10-01  326.540009
32  2020-11-01  362.059998
33  2020-12-01  373.880005
34  2021-01-01  370.070007
35  2021-02-01  380.359985
36  2021-03-01  396.329987
37  2021-04-01  417.299988
38  2021-05-01  420.040009
39  2021-06-01  428.059998
40  2021-07-01  438.510010
41  2021-08-01  451.559998
42  2021-09-01  429.140015
43  2021-10-01  459.250000
44  2021-11-01  455.559998
45  2021-12-01  474.959991
46  2022-01-01  449.910004
47  2022-02-01  436.630005
48  2022-03-01  451.640015
49  2022-04-01  412.000000
50  2022-05-01  412.929993
51  2022-06-01  377.250000
52  2022-07-01  411.989990
53  2022-08-01  395.179993
54  2022-09-01  357.179993
55  2022-10-01  386.209991
56  2022-11-01  407.679993
57  2022-12-01  382.429993
58  2023-01-01  406.480011
59  2023-02-01  415.190002

In [12]:
df[df['fund']=='ARKK']['date'].max()

'2022-11-21'

In [20]:
df = df[['Date', 'Close']]
df.columns=['date', 'close']

In [23]:
df.to_csv('/home/tbrownex/data/investing/'+'spx.csv', index=False)