In [1]:
import pandas as pd

In [24]:
df = pd.read_excel('/home/tbrownex/data/investing/ETrade/fundValues.xlsx')

/home/tbrownex/miniconda3/envs/tf/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [25]:
df=df[['Symbol', 'Value $']]
df.columns = ['symbol', 'total']

In [28]:
df['total'] = df['total'].astype(int)

In [35]:
df['pct'] = round(df['total']/df['total'].sum(),2)

In [36]:
df.sort_values('total')

  symbol  total   pct
7   SDIV   1498  0.01
9   CASH   2593  0.01
0   ARKK   4188  0.02
2  DIISX   6874  0.03
5   QYLD  20529  0.08
6   RYLD  22005  0.09
1    CCJ  25035  0.10
3   JEPI  35318  0.14
4   NUSI  38893  0.15
8    SPY  98041  0.38

In [32]:
df

  symbol  total  pct
0   ARKK   4188  NaN
1    CCJ  25035  NaN
2  DIISX   6874  NaN
3   JEPI  35318  NaN
4   NUSI  38893  NaN
5   QYLD  20529  NaN
6   RYLD  22005  NaN
7   SDIV   1498  NaN
8    SPY  98041  NaN
9   CASH   2593  NaN